.card {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(30deg, #0074D9, #2ECC40);
  padding: 0.5rem;
}


.card p {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.icon {
  padding: 1rem;
  border-radius: 50%;
  border: 0.125rem solid #FFF;
  background-image: linear-gradient(#0074D9, #2ECC40);
  display: flex;
  justify-content: center;
  align-items: center;
}
