.features {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.featuresList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 3rem;
}

.featuresListitem {
  display: inline;
  float: left;
}
