.features {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center;
}

.featuresList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: 3rem;
  background-image: linear-gradient(#0074D9, #2ECC40);
}

.featuresListitem {
  display: inline;
  float: left;
}
