.hero {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  padding: 0.875rem 1rem;
  place-self: center;
}
