.pricingCard {
  background-color: #259;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 18.75rem;
  height: 60vh;
  display: grid;
  grid-template-columns: 100%;
  border-radius: 0.25rem;
}

.period {
  backdrop-filter: blur(1rem);
}
