.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: clamp(20rem, 95vw + 1rem, 40rem);
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.25rem;
}

.faq > a {
  text-align: center;
}
