.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: clamp(20rem, 50vw + 1rem ,40rem);
  background-color: #EEE;
  padding: 1rem;
  border-radius: 0.25rem;
}
