.card {
  height: 100%;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.card p {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.iconWrapper {
  padding: 1rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 7vw + 1rem, 4rem);
}

.icon {
  height: 1em;
  width: 1em;
}
