.hero {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.heroLeft,
.heroRight {
  height: 100vh;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.heroLeft {
  height: auto;
  min-height: 100vh;
  padding: 4rem 3rem 2rem;
  gap: 1.5rem;
}

.heroBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.screenshot {
  width: 11rem;
  height: auto;
  aspect-ratio: 660 / 1434;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.heroRight {
  background-image: linear-gradient(var(--blue), var(--green));
  align-items: center;
  justify-content: center;
}

.h1Subtitle {
  display: block;
  font-size: 0.5em;
  font-weight: 400;
  opacity: 0.75;
}

.button {
  padding: 0.875rem 1rem;
  place-self: center;
}

.svgWrapper {
  height: 61.8%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
