.navbar {
  width: 100%;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navList {
  width: 20rem;
  overflow: hidden;
}

.navListitem {
  float: left;
  display: inline;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #bbb;
  border-top: 1px solid #bbb;
  place-self: center;
}

.navListitem a {
  display: block;
  padding: 0.6125rem 0.7rem;
}

.navListitem a:hover {
  background-color: #0074D9;
}
