.overviewContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3.236fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.overviewList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient( #0074D9, #2ECC40);
}

.overviewListitem {
  height: fit-content;
  flex: 1;
}

@media(max-width: 40rem) {
  .overviewList {
    flex-direction: column;
    gap: 2rem;
  }
}

