.title {
  text-align: center;
  display: grid;
  grid-template-columns: min-content max-content min-content;
  grid-template-rows: min-content;
  align-items: center;
  grid-template-areas:
  "leftArm text rightArm";
}

.leftArm {
  grid-area: leftArm;
}

.text {
  grid-area: text;
  text-wrap: wrap;
  color: #259;
}

.rightArm {
  grid-area: rightArm;
  transform: rotateY(180deg);
}
