.repInfoSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: 1px solid green;
}

.setInfo {
  display: grid;
  padding: 0 0.5rem;
  grid-template-columns: 1fr 4.836fr 1fr;
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  grid-template-areas:
  "back table .";
}
