.repInfoSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.setInfo {
  display: grid;
  grid-template-columns: var(--button-emoji-font-size) 10rem var(--button-emoji-font-size);
  grid-template-rows: min-content;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  grid-template-areas:
  "back table .";
}
