.button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-area: back;
  font-size: var(--button-action-font-size);
}

.icon {
  height: 1em;
  width: 1em;
}
