.table {
  table-layout: fixed;
  max-width: fit-content;
  border-collapse: collapse;
  justify-items: center;
}

.table caption {
  width: fit-content;
}

.table,
.tableHead,
.tableData {
  border: 1px solid #c0c0c0;
}

.tableHead {
  padding: 0.5rem;
  width: 20%;
}

.tableData {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
