.table, .tableHead, .tableData {
  border: 1px solid #C0C0C0;
  border-collapse: collapse;
  max-width: fit-content;
  align-self: center;
}

.tableHead {
  padding: 0.5rem;
}

.tableData {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table {
  grid-area: table;
  place-self: center;
}
