.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  overflow-y: hidden;
  gap: 1.5rem;
  height: 100vh;
}

.text {
  text-align: center;
}

@media(max-width: 20rem) {
  .main {
    padding: 2rem 1rem;
  }
}
