.main {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 1fr;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  overflow-y: auto;
  gap: 1rem;
}

.text {
  text-align: center;
}
