.overallProgressSection {
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(6, 2.65rem);
  grid-template-rows: repeat(auto-fill, 2.65rem);
  row-gap: 0.325rem;
  column-gap: 0.325rem;
}

.overallProgressSection::-webkit-scrollbar {
  display: none;
}

.progressListItem {
  margin-bottom: 0.25rem;
}

.progressListItem:last-child {
  margin-bottom: 0rem;
}

.progressListItem > details > summary {
  padding: 0.25rem;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}

.progressListItem > details > p {
  background-color: #eeeeee;
  padding: 0.25rem;
  padding-left: 1rem;
}

.iconWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #d1d1d1;
}
