.pastWorkouts {
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(6, 2.65rem);
  grid-template-rows: repeat(auto-fill, 2.65rem);
  row-gap: 0.325rem;
  column-gap: 0.325rem;
}

.heading {
  text-align: center;
}

.pastWorkouts::-webkit-scrollbar {
  display: none;
}

.iconWrapper {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #d1d1d1;
  border: 1px solid var(--blue);
  border-radius: 50%;
}
