.reviewLink {
  text-align: center;
  background-color: #d1d1d1;
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid #a1a1a1;
}

.reviewLink:hover {
  color: var(--blue);
}
