.reviewLink {
  text-align: center;
  background-color: #d1d1d1;
  opacity: 0.8;
  display: grid;
  justify-items: center;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
}

.reviewLink:hover {
  color: var(--blue);
}
