.repInputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 20rem;
}
.repInput {
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  font-family: var(--font-ptSans);
  text-align: center;
  align-self: center;
  width: min-content;
}

.repInputLabel {
  font-size: 1.25rem;
  text-align: center;
}

.repInputLabel + input::-webkit-outer-spin-button,
.repInputLabel + input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.repInputLabel + input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.repsSubmitButton {
  padding: 0.5rem 0.8rem;
  font-family: var(--font-nunito);
  border-radius: 0.75rem;
}

