.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.5rem;
  max-width: 100%;
  height: 23.4375rem;
  max-height: 100%;
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(15px);
}

.repsButtonContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.75rem;
  overflow-x: auto;
}

.closeButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
