.pageLink {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  border-radius: 0.5rem;
  background-color: #d1d1d1;
}

.pageLink:hover {
  color: var(--blue);
}
