.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: fit-content;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #C0C0C0;
}

.panelText {
  color: #000;
  max-width: 600px;
}

.panelListitem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.panelListitem:last-child:has(a) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.panel {
  display: hidden;
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 0.75rem;
  color: #777;
  float: right;
}

.active:after {
  content: '\02796';
}

.buttonText {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  align-items: center;
}

.emoji {
  display: grid;
  font-family: var(--font-notoColorEmoji);
  place-self: center;
  font-size: 1.25rem;
}
