.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1rem;
  min-height: 100vh;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.repeatButtonContainer {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media(max-width: 20rem) {
  .main {
    padding: 2rem 1rem;
  }
}
